@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-bgDark: #020617;
  --color-cardDark: rgba(15,23,42,0.6); 
  --color-cardStroke: rgba(255,255,255,0.05);

  --color-neonBlue: #38bdf8;
  --color-neonCyan: #06b6d4;
  --color-neonPurple: #a855f7;

  --font-sans: 'Inter', sans-serif;
}

@layer utilities {
  .input {
    @apply text-white  w-full p-2 rounded bg-bgDark border border-gray-700 focus:border-neonBlue outline-none;
  }

  .btn-primary {
    @apply min-w-10 bg-neonBlue text-black py-2 rounded hover:bg-neonCyan transition;
  }

  .switch {
    @apply text-center text-sm mt-4 cursor-pointer text-neonBlue;
  }

  .perspective-1000 {
    perspective: 1000px;
  }

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
